<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="ConsoleMsg" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%msg%n" />
		</Console>
		<Console name="ConsoleNoTime" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%logger{36} - %msg%n" />
		</Console>
		<Console name="ConsoleWithTime" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
	    <Root level="OFF">
	        <AppenderRef ref="ConsoleNoTime"/>
	    </Root>
	    <!-- Make sure the name of the logger below is equal to the value of
	         ACCConstants.MAINLOGGER-->
		<logger name="MAINLOGGER" level="OFF" additivity="false">
			<AppenderRef ref="ConsoleMsg" />
		</logger>
		<logger name="autocompchem" level="OFF" additivity="false">
			<AppenderRef ref="ConsoleWithTime" />
		</logger>
    </Loggers>
</Configuration>