<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="ConsoleLevelSpecific" target="SYSTEM_OUT">
      <PatternLayout>
        <LevelPatternSelector defaultPattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %logger{36} %msg%n">
          <PatternMatch key="INFO" pattern="%msg%n"/>
          <PatternMatch key="DEBUG" pattern="%msg%n"/>
          <PatternMatch key="TRACE" pattern="%msg%n"/>
        </LevelPatternSelector>
      </PatternLayout>
    </Console>
    <Console name="ConsoleUndecorated" target="SYSTEM_OUT">
      <PatternLayout pattern="%msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="ConsoleLevelSpecific"/>
    </Root>
    <logger name="autocompchem.ui.ACCMain" level="INFO" additivity="false">
      <AppenderRef ref="ConsoleUndecorated" />
    </logger>
    <logger name="autocompchem.run.Terminator" level="INFO" additivity="false">
      <AppenderRef ref="ConsoleUndecorated" />
    </logger>
  </Loggers>
</Configuration>
